.DS_Store

# Xcode
DerivedData/
build/
*.xcuserstate
xcuserdata/
*.moved-aside
*.xccheckout
*.xcscmblueprint

# Swift Package Manager
.build/

# Windows / .NET
bin/
obj/
*.user
*.suo

# Local environment
*.swp
*.tmp
